@model Product


    <div class="product product-single">
        <div class="product-thumb">
            <div class="product-label">
                <span>Новинка</span>
            </div>
            <a class="main-btn quick-view" asp-route-productId="@Model.ProductId" 
                asp-action="PageProduct" 
                asp-controller="Product"><i class="fa fa-search-plus"></i>Show</a>
            <img src="@Model.Image" alt="">
        </div>
        <div class="product-body">
            <h3 class="product-price">@Model.Price</h3>
            <div class="product-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o empty"></i>
            </div>
            <h2 class="product-name"><a asp-route-productId="@Model.ProductId" 
                asp-action="PageProduct" 
                asp-controller="Product">@Model.Name</a></h2>
            <form id="@Model.ProductId" asp-action="AddToCart" asp-controller="Cart" method="post">
                <input type="hidden" asp-for="ProductId" />
                <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                <div class="product-btns">
                    <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                    <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                    <button type="submit" class="primary-btn add-to-cart">
                        <i class="fa fa-shopping-cart"></i> 
                        Добавить в корзину
                    </button>
                </div>
            </form>
        </div>
    </div>
