@model Product

<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!--  Product Details -->
				<div class="product product-details clearfix">
					<div class="col-md-6">
						<div id="product-main-view">
							<div class="product-view">
								<img src="@Model.Image" alt="">
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="product-body">
							<h2 class="product-name">@Model.Name</h2>
							<h3 class="product-price">@Model.Price - грн</h3>
							<div>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o empty"></i>
								</div>
								<a href="#comments">@Model.Comments.Count() Коментария</a>
							</div>
							<p><strong>Жанр:</strong> @Model.Category</p>
							<p><strong>Автор:</strong>@Model.Author</p>
							<p><strong>Язык:</strong> @Model.Language</p>
							<p>@Model.Description</p>
							<div class="product-options">
								<ul class="size-option">
									<li><span class="text-uppercase">Размер:</span></li>
									<li>@Model.Size</li>
								</ul>
								<ul class="color-option">
									<li><span class="text-uppercase">Количество страниц:</span></li>
									<li>@Model.PageCount</li>
								</ul>
							</div>

							<div class="product-btns">
								<div class="qty-input">
									<span class="text-uppercase">Количество: </span>
									<input class="input" type="number">
								</div>
								<form id="@Model.ProductId" asp-action="AddToCart" asp-controller="Cart" method="post">
									<input type="hidden" asp-for="ProductId" />
									<input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
									<button type="submit" class="primary-btn add-to-cart">
										<i class="fa fa-shopping-cart"></i> 
										Добавить в корзину
									</button>
								</form>
								<div class="pull-right">
									<button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
									<button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
									<button class="main-btn icon-btn"><i class="fa fa-share-alt"></i></button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="product-tab">
							<ul class="tab-nav">
								<li class="active"><a data-toggle="tab" href="#tab1">Описание</a></li>
								<li><a data-toggle="tab" href="#tab1">Подробнее</a></li>
								<li><a data-toggle="tab" href="#tab2" id="comments">Коментарии (@Model.Comments.Count())</a></li>
							</ul>
							<div class="tab-content">
								<div id="tab1" class="tab-pane fade in active">
									<p>@Model.Description</p>
								</div>
								<div id="tab2" class="tab-pane fade in">

									<div class="row">
										<div class="col-md-6">
											<div class="product-reviews">
												@if(Model.Comments.Count() > 0)
												{
													foreach (var item in Model.Comments)
													{
														@await Html.PartialAsync("CommentsSummary", item);
													}
												}else{
													<p>Комментарии отсутствуют!</p>
												}

												<ul class="reviews-pages">
													<li class="active">1</li>
													<li><a href="#">2</a></li>
													<li><a href="#">3</a></li>
													<li><a href="#"><i class="fa fa-caret-right"></i></a></li>
												</ul>
											</div>
										</div>
										<div class="col-md-6">
											<h4 class="text-uppercase">Оставьте свой комментарий</h4>
											@await Html.PartialAsync("CommentForm", new Comment()
											{ 
												Product = new Product 
													{ 
														ProductId = @Model.ProductId
													}
											})
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- /Product Details -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->